@model DoctorScheduleViewModel
@{
    ViewData["Title"] = "My Schedule";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">           
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>   
            <button type="submit" class="btn btn-default">View Schedule</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        @if (Model.Appointments.Count() == 0)
        {
            <tr>
                <th scope="row" colspan="6" class="text-center">No Appointments</th>
            </tr>
        }
        else
        {

            for (int i = 8; i < 17; i++)
            {
                string hour = $"{i}:00";
                string patientName = "No Appointment";
                string info = "";
                string rowClass = "bg-active";
                foreach (var appointment in Model.Appointments)
                {
                    if (i == appointment.TimeStart.Hours)
                    {
                        patientName = appointment.Patient.FirstName;
                        info = appointment.Info;
                        rowClass = "bg-info";
                    }
                }
                <tr class="@rowClass">
                    <td>@hour</td>
                    <td>@patientName</td>
                    <td>@info</td>
                </tr>
            }
        }
    </thead>
</table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


