@model IEnumerable<MedicalCanterServiceModel>
@{
    ViewData["Title"] = "All Medical Centers";
}

@if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
{
    <div class="alert alert-success">
        @TempData[WebConstants.TempDataSuccessMessageKey]
    </div>
}
@if (TempData.ContainsKey(WebConstants.TempDataErrorMessageKey))
{
    <div class="alert alert-danger">
        @TempData[WebConstants.TempDataErrorMessageKey]
    </div>
}

<h2>@ViewData["Title"]</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medCenter in Model)
        {
            <tr>
                <th>@medCenter.Name</th>
                <th>@medCenter.Location</th>
                <th>
                    <ul class="list-unstyled">
                        @foreach (var doctor in medCenter.Doctors)
                        {
                            <li>Dr. @doctor.LastName</li>                           
                        }                        
                    </ul>
                </th>
            </tr>
        }
    </tbody>
</table>

