@model IEnumerable<MedicalCanterServiceModel>
@{
    ViewData["Title"] = "All Medical Centers";
}

<h2>@ViewData["Title"]</h2>

<a class="btn btn-primary" asp-area="@WebConstants.AdminArea" asp-controller="AdminMedicalCenters" asp-action="Add">New Medical Center</a>
<br />
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Doctors</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var medCenter in Model)
        {
            <tr>     
                <th>
                    @medCenter.Name                    
                </th>
                <th>@medCenter.Location</th>
                <th>
                    <ul class="list-unstyled">
                        @foreach (var doctor in medCenter.Doctors)
                        {
                            <li>Dr. @doctor.LastName</li>                           
                        }                        
                    </ul>
                </th>                
            </tr>
        }
    </tbody>
</table>

